#p{
    
    border-right: 5px solid yellowgreen;
    border-left: 5px solid yellowgreen;
    border-top: 5px solid yellowgreen;
    border-bottom: 5px solid yellowgreen;
    box-shadow: 7px 13px 37px yellowgreen; /*sombra*/
    
}
pre:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }